.block {
    color: $primary-beige;

    &__card {
        width: 100%;
        padding: 24px;
        border-radius: 30px;
        color: $text-dark;
    }

    &__category {
        display: inline-block;
        padding: 0 5px;
        font-size: 18px;
        line-height: 22px;
        border: 1px $text-dark solid;
        border-radius: 14px;
    }

    &__title {
        margin: 24px 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}