.navbar {
    width: 100%;
    max-width: 1320px;
    height: auto;
    margin: 0 auto;
    padding: 8px;
    // margin: 8px;
    // padding: 3px;
    background-color: transparent;
    box-shadow: none;

    &__inner {
        height: 56px;
        padding: 3px;
        border: $primary-beige 1px solid;
        border-radius: 28px;
    }

    &__brand {
        height: 100%;
        margin-right: 0;
    }

    &__logo {
        height: 100%;
        width: 48px;
        height: 48px;
        margin-right: 3px;
    }

    &__title,
    &__item{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-right: 3px;
        padding: 0 40px;
        border: $primary-beige 1px solid;
        border-radius: 30px;
        font-size: 14px;
        line-height: 20px;
        color: $primary-beige;
        transition: all .3s;

        &:hover {
            background-color: $primary-beige;
            color: $primary-dark;
        }
    }
}