.navbar {
    padding: 8px;
    // margin: 8px;
    // padding: 3px;
    background-color: transparent;

    &__inner {
        height: 56px;
        padding: 3px;
        border: #e0d6c2 1px solid;
        border-radius: 28px;
    }

    &__brand {
        height: 100%;
        margin-right: 3px;
    }

    &__logo {
        height: 100%;
        width: 48px;
        height: 48px;
        margin-right: 3px;
    }

    &__title,
    &__item{
        height: 100%;
        padding: 0 40px;
        border: #e0d6c2 1px solid;
        border-radius: 30px;
        font-size: 14px;
        line-height: 20px;
        color: #e0d6c2;
    }
}